In [ ]:
String DatatType :     A string is a series of characters declared in quotes. 
Declared into 'str'  "str"  """str"""

In [2]:
name = "salina bagwan"
print(name)

salina bagwan

In [3]:
#correct the name format using string:
print(name.title())

Salina Bagwan

In [4]:
#modified with capital string:
print(name.upper())

SALINA BAGWAN

In [5]:
#modified with lowercase string:
print(name.lower())

salina bagwan

In [6]:
#introdusing string:

name="salina"
surname="bagwan"
#getting full name: syntax
# f" custom string {placeholder1} {placeholder2}.....{nplaceholder} -->refercing the variables.

In [7]:
a= f" {name} {surname}"
print(a)

 salina bagwan

In [9]:
#to passing a string msg for salina :
print(f"Welcome in python training,{a.title()}")

Welcome in python training, Salina Bagwan

In [11]:
#introducing string method:
#type used to find the data type of variable .

print(type(a))

<class 'str'>

In [ ]:
adding whitespaces to strings:

In [12]:
print('fav_fruits: chikumangoapplekiwiper')

fav_fruits: chikumangoapplekiwiper

In [16]:
#\n ----is the used to get string etc to new line:
print('fav_fruits: \nchiku \nmango \napple \nkiwi \nper')

fav_fruits:
chiku
mango
apple
kiwi
per

In [17]:
#\t ----is the used for tab:
print('fav_fruits: \n\tchiku \n\tmango \n\tapple \n\tkiwi \n\tper')

fav_fruits:
	chiku
	mango
	apple
	kiwi
	per

In [ ]:
how to remove whitespaces in python :

In [19]:
a='   python'

print(a)

   python

In [20]:
a.lstrip()   #left strip

'python'

In [21]:
b= 'python   '

print(b)

python

In [22]:
b.rstrip()   #right strip

'python'

In [23]:
c= '    python   '

print(c)

    python

In [24]:
c.strip()   #strip both side spaces

'python'

In [ ]:
Introduction to List DataType :

In [ ]:
#List is collection of items in perticular order.
#List declares into [ ] brackets.
#List indexing with always 0,1,2,3,4.....

In [25]:
students=['salina','tara','akash','jav','vani']

print(students)

['salina', 'tara', 'akash', 'jav', 'vani']

In [27]:
type(students)

list

In [31]:
#access akash from above list:

print(students[0])

salina

In [32]:
print(students[2].title())

Akash

In [30]:
print(students[4])

vani

In [33]:
#adding new element (amruta) in a list:

students.append('amruta')  #adding append() to last of the list
print(students)

['salina', 'tara', 'akash', 'jav', 'vani', 'amruta']

In [34]:
students.append('riya')
print(students)

['salina', 'tara', 'akash', 'jav', 'vani', 'amruta', 'riya']